name: poker_aa
description: "Poker AA - Calculate winning odds with Monte Carlo simulation"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  
  flutter_riverpod: ^2.6.1
  riverpod_annotation: ^2.6.1
  
  freezed_annotation: ^3.0.0
  json_annotation: ^4.9.0
  
  google_fonts: ^6.2.1
  flutter_animate: ^4.5.2
  
  equatable: ^2.0.7
  collection: ^1.19.1
  http: ^1.2.2
  flutter_secure_storage: ^9.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  
  build_runner: ^2.4.15
  riverpod_generator: ^2.6.5
  freezed: ^3.0.6
  json_serializable: ^6.9.5
  
  flutter_launcher_icons: ^0.14.3

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/images/logo.png"
  min_sdk_android: 21
  adaptive_icon_background: "#1A1A2E"
  adaptive_icon_foreground: "assets/images/logo.png"
  remove_alpha_ios: true
  web:
    generate: false
  windows:
    generate: false
  macos:
    generate: false

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
